{% extends "layout.html" %}
{% block content %}
<div class='well'>
    <div class="form-group">
        
    <form method=POST action='/'>
    Author<input name = 'author' class="form-control" value='{{author}}'/>
    Title<input name='title' class="form-control"/>
    Story<input name='story' class="form-control"/>
    <button class="btn btn-default"  type='submit'>Save</button>  
    </form>
    <form method=POST action='/author/{{author}}?_method=DELETE'>
          <button class="btn btn-default"  type='submit'>Delete</button>
    </form>
    </div>
    <ul>
    {% for story in stories %}
    <li>
       <a href='./stories/{{story.id}}'> {{story.title}} </a>
           by <a href='./{{story.author.name}}'> {{story.author.name}} </a>
    </li>
    {% endfor %}
    </ul>
 </div>
{% endblock %}
