<!-- layout.html -->
<!DOCTYPE html>
<html>
  <head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
  </head>
  <body>
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#" style="font-family: 'Lobster', cursive">WIKISTACK</a>
    </div>
       <div id="nav-items" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Index</a></li>
            <li><a href="/stories">Story</a></li>
      </ul>
      </div>
      {% block content %}
      {% endblock %}  
  </body>
    <div id="footer" class="container text-muted">
      WIKISTACK by Arum,Moro,Summer
    </div>
  </body>
</html>